@using MoMotors.Data
@using MoMotors.Models
@using Microsoft.EntityFrameworkCore;

@model VeiculosModel
@inject MoMotorsDbContext MoMotorsDbContext
@inject UserManager<ApplicationUser> UserManager
@{

    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
    var veiculo = MoMotorsDbContext.Set<VeiculosModel>().Include(v => v.Imagens).FirstOrDefault(v => v.Id == Model.Id);
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-...." crossorigin="anonymous">

    <style>

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            max-width: 1200px;
            margin: 20px auto;
        }

        .left {
            width: 60%;
        }

        .main-image {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        .thumbnails {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }

        .thumbnail {
            width: 19%;
            height: 100px;
            object-fit: cover;
            cursor: pointer;
        }

        .right {
            width: 40%;
            padding: 20px;
        }

        h1 {
            font-size: 32px;
            font-weight: bold;
            color: #333;
        }

        .info {
            font-size: 18px;
            color: #777;
            margin-top: 10px;
        }

        .price {
            font-size: 28px;
            font-weight: bold;
            color: #333;
            margin-top: 20px;
        }

        .favorite {
            display: flex;
            align-items: center;
            background-color: #f0f0f0;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            margin-top: 20px;
            cursor: pointer;
        }

            .favorite i {
                color: #f44336;
                margin-right: 10px;
            }

        .details {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

            .details td {
                padding: 6px;
                border: 1px solid #f0f0f0;
            }

                .details td:first-child {
                    font-weight: bold;
                    color: #333;
                    width: 40%;
                }

                .details td:last-child {
                    color: #777;
                    width: 60%;
                }


        .gallery {
            display: flex;
            flex-direction: column;
            max-width: 800px;
            margin: 20px auto;
        }

        .main {
            width: 100%;
            height: 500px;
        }

            .main img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

       

            .thumbnail:hover {
                border-color: #333;
            }

        .details {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: #f0f8ff; /* Azul mais claro e discreto */
        }

            .details td {
                padding: 8px; /* Diminuir a distância entre as linhas */
                border: none; /* Remover as bordas */
                color: #1565c0; /* Nova cor do texto azul */
            }

                .details td:first-child {
                    font-weight: bold;
                    font-size: 14px;
                    width: 40%;
                    padding-left: 6.5%;
                }

                .details td:last-child {
                    width: 60%;
                    font-size: 14px;
                    padding-left: 15%;
                }

        .check-symbol {
            color: green;
            font-size: 16px;
        }

    </style>

</head>

<body>
    <div class="container" style="margin-top: 5%;">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="gallery">
                                    <div class="main">
                                        <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Porsche Macan 5-door SUV blue" class="img-thumbnail" id="main-image"
                                             style="width: 400vh; height: 100%;">
                                    </div>


                                    <div class="thumbnails">
                                        @if (Model.Imagens != null && Model.Imagens.Count > 0)
                                        {
                                                @foreach (var imagem in Model.Imagens)
                                                {
                                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(imagem.DadosDaImagem)" alt="Imagem do Veículo" class="thumbnail"
                                                     onclick="changeImage(this)" />
                                                }
                                        }
                                        <!--   

                                        <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Front view" class="thumbnail" onclick="changeImage(this)">
                                        <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Back view" class="thumbnail" onclick="changeImage(this)">
                                        <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Interior view" class="thumbnail" onclick="changeImage(this)">
                                        <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Engine view" class="thumbnail" onclick="changeImage(this)">

                                        -->
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h1>@Model.Marca @Model.Modelo @Model.Cor</h1>
                                <p class="info">@Model.AnoECombustivel.Substring(0, 4) • @Model.Quilometragem km </p>
                                <p class="price">@Model.Preco</p>
                                <table class="details">
                                       
                                            <tr>
                                                <td>Marca:</td>
                                                <td>@Model.Marca</td>
                                            </tr>
                                            <tr>
                                                <td>Modelo:</td>
                                                <td>@Model.Modelo</td>
                                            </tr>

                                            <tr>
                                                <td>Transmissão:</td>
                                                <td>@Model.Cambio</td>
                                            </tr>
                                            <tr>
                                                <td>Condição:</td>
                                                <td>@Model.Condicao</td>

                                            </tr>
                                            <tr>
                                                <td>Ano:</td>
                                                <td>@Model.AnoECombustivel.Substring(0, 4)</td>
                                            </tr>
                                            <tr>
                                                <td>Quilometragem:</td>
                                                <td>@Model.Quilometragem</td>
                                            </tr>
                                            <tr>
                                                <td>Tipo de combustível:</td>

                                                @if (Model.AnoECombustivel[5] == '1')
                                                {
                                                    <td>
                                                        Gasolina
                                                    </td>
                                                }
                                                else if (Model.AnoECombustivel[5] == '3')
                                                {
                                                    <td>
                                                        Diesel
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        Etanol
                                                    </td>
                                                }





                                            </tr>


                                            <tr>
                                                <td>Cor:</td>
                                                <td>@Model.Cor</td>
                                            </tr>

                                            


                                   
                                   
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div>

                            <h5>
                                Descrição
                            </h5>
                            <p>
                                @Model.Descricao
                            </p>

                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>

















    <div class="container">
        
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div style="margin-left: 2%" >
                            <strong style="font-size: 18px">Itens do carro</strong>
                        </div>

                        <hr />
                        <div class="row">
                           

            @foreach (var property in typeof(VeiculosModel).GetProperties())
            {
                var propertyName = property.Name;
                var displayName = propertyName;

               @if(propertyName == "Airbag")
                {
                    displayName = "Airbag";
                }
                else if(propertyName == "BancoComRegulagemDeAltura")
                {
                    displayName = "Banco com regulagem de altura";
                }
                else if(propertyName == "ControleAutomaticoDeVelocidade")
                {
                    displayName = "Controle automático de velocidade";
                }
                else if(propertyName == "DirecaoHidraulica")
                {
                    displayName = "Direção hidráulica";
                }
                else if(propertyName == "FreioABS")
                {
                    displayName = "Freio ABS";
                }
                else if(propertyName == "Radio")
                {
                    displayName = "Rádio";
                }
                else if(propertyName == "SensorDeEstacionamento")
                {
                    displayName = "Sensor de estacionamento";
                }
                else if(propertyName == "TravasEletricas")
                {
                    displayName = "Travas elétricas";
                }
                else if(propertyName == "Alarme")
                {
                    displayName = "Alarme";
                }
                else if(propertyName == "BancosComAquecimento")
                {
                    displayName = "Bancos com aquecimento";
                }
                else if(propertyName == "ControleDeTracao")
                {
                    displayName = "Controle de tração";
                }
                else if(propertyName == "EncostoDeCabecaTraseiro")
                {
                    displayName = "Encosto de cabeça traseiro";
                }
                else if(propertyName == "GPS")
                {
                    displayName = "GPS";
                }
                else if(propertyName == "RetrovisoresEletricos")
                {
                    displayName = "Retrovisores elétricos";
                }
                else if(propertyName == "TetoSolar")
                {
                    displayName = "Teto solar";
                }
                else if (propertyName == "VidrosEletricos")
                {
                    displayName = "Vidros elétricos";
                }
                else if (propertyName == "ArCondicionado")
                {
                    displayName = "Ar-condicionado";
                }
                else if (propertyName == "BancosEmCouro")
                {
                    displayName = "Bancos em couro";
                }
                else if (propertyName == "DesembacadorTraseiro")
                {
                    displayName = "Desembaçador traseiro";
                }
                else if (propertyName == "FarolDeXenonio")
                {
                    displayName = "Farol de xenônio";
                }
                else if (propertyName == "LimpadorTraseiro")
                {
                    displayName = "Limpador traseiro";
                }
                else if (propertyName == "SensorDeChuva")
                {
                    displayName = "Sensor de chuva";
                }
                else if (propertyName == "Tracao4x4")
                {
                    displayName = "Tração 4x4";
                }
                else if (propertyName == "VolanteComRegulagemDeAltura")
                {
                    displayName = "Volante com regulagem de altura";
                }

            
                var propertyInfo = Model.GetType().GetProperty(propertyName);

                if (propertyInfo != null) // Verifica se a propriedade existe
                {
                    var propertyValue = propertyInfo.GetValue(Model);

                    if (propertyName != "Cambio" && propertyName != "Estado" && propertyName != "Cidade" && propertyName != "Modelo" && propertyName != "Marca" && propertyName != "Preco" && propertyName != "AnoECombustivel" && propertyName != "Condicao" && propertyName != "Quilometragem" && propertyName != "Cor" && propertyName != "Id" && propertyName != "FIPE" && propertyName != "User" && propertyName != "UserId" && propertyName != "Descricao" && propertyName != "Tipo" && propertyName != "ImagemVeiculo" && propertyName != "Imagens" && propertyName != "ImagensUrls")
                    {
                                        @if (propertyValue != null && (bool)propertyValue) 
                                        {
                                            <div class="col-md-4">
                                                <div class="form-check">




                                                    <label class="form-check-label" style="margin-top: 12.5px" for="@propertyName"> @displayName</label>
                                                </div>
                                            </div>
                                        }
                        
                    }
                }
                            }
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    
    <!-- ... (código anterior) ... -->
    <div class="container" style="margin-top: 2%">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <div style="margin-left: 2%" class="text-center">
                        <strong style="font-size: 20px">Compare os preços</strong>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <h2>Valor anunciado</h2>
                            <p class="price text-white">@Model.Preco</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h2>MoMotors</h2>
                            <p class="price text-white">@Model.FIPE</p>
                            <p class="info text-white">Valor médio de carros iguais a este anunciado na MoMotors</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h2>Tabela FIPE</h2>
                            <p class="price text-white">@Model.FIPE</p>
                            <p class="info text-white">Valor deste carro na Tabela Fipe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ... (outros cards) ... -->
    </div>


    <div class="container" style="margin-top: 2%">

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div style="margin-left: 2%">
                        <strong style="font-size: 18px">Sobre o vendedor</strong>
                    </div>
                    
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            @foreach (var user in MoMotorsDbContext.Users)
                            {
                                if (user.Id == Model.UserId)
                                {
                                    <h2>Informações do Anunciante</h2>
                                    <p >Nome: @user.Name</p>
                                    <p >Email: @user.Email</p>
                                }
                            }

                          
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ... (outros cards) ... -->

    </div>

    <!-- ... (código posterior) ... -->

    <script>


        function changeImage(thumb) {
            // get the src attribute of the clicked thumbnail
            let src = thumb.getAttribute("src");
            // get the main image element by id
            let main = document.getElementById("main-image");
            // update the src attribute of the main image with the thumbnail src
            main.setAttribute("src", src);
        }

        // Ensure that the main image is initially loaded with the first thumbnail
        document.addEventListener("DOMContentLoaded", function () {
            // get the first thumbnail element
            let firstThumbnail = document.querySelector(".thumbnails img");
            // call the changeImage function with the first thumbnail as an argument
            if (firstThumbnail) {
                changeImage(firstThumbnail);
            }
        });

    </script>

</body>
</html>