@page
@model ChangePasswordModel

@using MoMotors.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject MoMotorsDbContext MoMotorsDbContext
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";

    var user = await UserManager.GetUserAsync(User);
    int quantidadeVeiculos = user.GetQuantidadeVeiculosRegistradosNoBancoDeDados(MoMotorsDbContext);
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<partial name="_StatusMessage" for="StatusMessage" />
<head>
    
    <style>

        <!--
        .gradient-custom-2 {
            background: #000; /* Defina a cor mais escura à direita */
            background: -webkit-linear-gradient(to left, #000, #343a40); /* Adicione gradientes para navegadores WebKit */
            background: linear-gradient(to left, #000, #343a40); /* Gradiente linear padrão */
            color: white; /* Adicione essa linha para garantir que o texto seja legível em fundo escuro */
        }
        -->
        .vertical-line {
            border-left: 1px solid black;
            height: 30px; /* Adjust the height as needed */
            margin: 0 auto;
            justify-content: center;
            text-align: center;
            justify-items: center;

        }

        .vertical-line {
            border-left: 1px solid black;
            height: 30px; /* Adjust the height as needed */
            margin: 0 auto:
        }

        .container {
            border-radius: 3px;
        }

        .notification {
            background-color: #2196F3;
            padding: 15px;
            text-align: center;
            font-size: 18px;
        }

    </style>
</head>

<body class="h-100 gradient-custom-2">
    


        
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 align-self-center">
                <div class="col col-lg-9 col-xl-7 ">
                    <div class="card" style="margin-top: 5%; ">
                    <div class="card-header text-center " style="background-color: white">
                        <div class="d-flex justify-content-between align-items-center align-self-center">
                                <div class="row" style="justify-content: center; text-align: center; justify-items: center; margin: 0 auto;">

                                        
                                        
                                        
                                    <div class="col text-center ">
                                    <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index" style="color: black">
                                             Perfil
                                    
                                        </a>
                                    </div>
                                    <div class="col-auto align-self-center">
                                        <div class="vertical-line"></div>
                                    </div>



                                    <div class="col text-center">
                                    <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email" style="color: black">
                                            
                                            Email
                                            
                                        </a>
                                    </div>

                                <div class="col-auto align-self-center" >
                                    <div class="vertical-line" ></div>
                                </div>


                                <div class="col text-center">
                                    <a class="nav-link" style="color: black">
                                        Senha
                                    </a>
                                </div>



                                <div class="col-auto align-self-center">
                                    <div class="vertical-line"></div>
                                </div>

                                <div class="col text-center">
                                    <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData" style="color: black">
                                        Dados
                                        </a>
                                </div>

                                </div>
                        
                        </div>

                        
                          </div>
                        <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            @if (user.ImagemPerfil == null || user.ImagemPerfil.Length == 0)
                            {
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                     alt="Generic placeholder image" class="img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1">
                            }
                            else
                            {
                                var base64Image = Convert.ToBase64String(user.ImagemPerfil);
                                var imgSrc = $"data:image/png;base64,{base64Image}";
                                <img src="@imgSrc"
                                     alt="User Profile Image" class="img-thumbnail mt-4 mb-2"
                                     style="width: 150px; height: 110px; object-fit: cover; z-index: 1">
                            }
                                
                            </div>
                            <div class="ms-3" style="margin-top: 130px;">
                                <h5>@user.Name</h5>
                               
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                
                                <div>
                                    @if (quantidadeVeiculos != null && quantidadeVeiculos > 0)
                                    {
                                    <p class="mb-1 h5">@quantidadeVeiculos</p>
                                    <p class="small text-muted mb-0">Veículos à venda</p>

                                }
                                else if(quantidadeVeiculos != null && quantidadeVeiculos == 1)
                                {
                                    <p class="mb-1 h5">@quantidadeVeiculos</p>

                                    <p class="small text-muted mb-0">Veículo à venda</p>
                                }
                                else
                                    {
                                        <p class="mb-1 h5">0</p>
                                        <p class="small text-muted mb-0">Veículos à venda</p>

                                    }
                                    

                               
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            

                        <div>
                       
                    </div>
                            <partial name="_StatusMessage" for="StatusMessage" />
                    <div class="row">
                        <div class="col-md-6" style="width: 100%">
                            <form id="change-password-form" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Por favor, insira sua senha atual." />
                                    <label asp-for="Input.OldPassword" class="form-label"></label>
                                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Por favor, insira sua nova senha." />
                                    <label asp-for="Input.NewPassword" class="form-label"></label>
                                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Por favor, confirme sua senha."/>
                                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                    <button type="submit" class="w-100 btn btn-outline-dark" data-mdb-ripple-color="dark">Atualizar senha</button>
                            </form>
                        </div>
                    </div>

                    @section Scripts {
                        <partial name="_ValidationScriptsPartial" />
                    }
                            
                        

                        
                    </div>


                    </div>
                </div>
            </div>
    
    
    </div>
    </div>


</body>














