@page
@using MoMotors.Data
@model IndexModel

@inject SignInManager<ApplicationUser> SignInManager
@inject MoMotorsDbContext MoMotorsDbContext
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Perfil";
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
    var user = await UserManager.GetUserAsync(User);
    int quantidadeVeiculos = user.GetQuantidadeVeiculosRegistradosNoBancoDeDados(MoMotorsDbContext);
}


<head>


    <style>

        <!--
        .gradient-custom-2 {
            background: #000; /* Defina a cor mais escura à direita */
            background: -webkit-linear-gradient(to left, #000, #343a40); /* Adicione gradientes para navegadores WebKit */
            background: linear-gradient(to left, #000, #343a40); /* Gradiente linear padrão */
            color: white; /* Adicione essa linha para garantir que o texto seja legível em fundo escuro */
        }
        -->
        .vertical-line {
            border-left: 1px solid black;
            height: 30px; /* Adjust the height as needed */
            margin: 0 auto:
            justify-content: center;
            text-align: center;
            justify-items: center;

        }

        .container {
            border-radius: 3px;
        }

        .notification {
            background-color: #2196F3;
            padding: 15px;
            text-align: center;
            font-size: 18px;
        }

        .car-listing {
            font-family: Arial, sans-serif;
            min-height: 250px;
            max-width: 400px;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

            .car-listing h1 {
                font-size: 24px;
                color: #333;
                margin: 0;
            }

            .car-listing .price {
                font-size: 20px;
                color: black;
                font-weight: bold;
                margin: 10px 0;
            }

            .car-listing .info {
                display: flex;
                align-items: center;
                gap: 55px;
            }

                .car-listing .info button {
                    background-color: #f00;
                    color: #fff;
                    border: none;
                    border-radius: 4px;
                    padding: 5px 10px;
                    cursor: pointer;
                }

                .car-listing .info span {
                    font-size: 14px;
                    color: #666;
                }

    </style>
</head>

<body class="h-100 gradient-custom-2">
    


        
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 align-self-center">
                <div class="col col-lg-9 col-xl-7 ">
                    <div class="card" style="margin-top: 5%; ">
                    <div class="card-header text-center " style="background-color: white">
                        <div class="d-flex justify-content-between align-items-center align-self-center">
                                <div class="row" style="justify-content: center; text-align: center; justify-items: center; margin: 0 auto;">

                                        
                                        
                                        
                                    <div class="col text-center ">
                                        <a class="nav-link" style="color: black">
                                             Perfil
                                    
                                        </a>
                                    </div>
                                    <div class="col-auto align-self-center">
                                        <div class="vertical-line"></div>
                                    </div>



                                    <div class="col text-center">
                                    <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email" style="color: black">
                                            
                                            Email
                                            
                                        </a>
                                    </div>

                                <div class="col-auto align-self-center" >
                                    <div class="vertical-line" ></div>
                                </div>


                                <div class="col text-center">
                                    <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword" style="color: black">
                                        Senha
                                    </a>
                                </div>


                                <div class="col-auto align-self-center">
                                    <div class="vertical-line"></div>
                                </div>


                                <div class="col text-center">

                                    <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication" style="color: black">
                                        2FA
                                        </a>
                                </div>

                                <div class="col-auto align-self-center">
                                    <div class="vertical-line"></div>
                                </div>

                                <div class="col text-center">
                                    <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData" style="color: black">
                                        Dados
                                        </a>
                                </div>

                                






                                </div>
                        
                        </div>

                        
                          </div>
                        <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" 
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1">
                                
                            </div>
                            <div class="ms-3" style="margin-top: 130px;">
                                <h5>@user.Name</h5>
                               
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                <div>
                                    <p class="mb-1 h5">253</p>
                                    <p class="small text-muted mb-0">Photos</p>
                                </div>
                                <div class="px-3">
                                    <p class="mb-1 h5">1026</p>
                                    <p class="small text-muted mb-0">Followers</p>
                                </div>
                                <div>
                                    @if (quantidadeVeiculos != null && quantidadeVeiculos > 0)
                                    {
                                    <p class="mb-1 h5">@quantidadeVeiculos</p>
                                    <p class="small text-muted mb-0">Veículos à venda</p>

                                }
                                else if(quantidadeVeiculos != null && quantidadeVeiculos == 1)
                                {
                                    <p class="mb-1 h5">@quantidadeVeiculos</p>

                                    <p class="small text-muted mb-0">Veículo à venda</p>
                                }
                                else
                                    {
                                        <p class="mb-1 h5">0</p>
                                        <p class="small text-muted mb-0">Veículos à venda</p>

                                    }
                                    

                               
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">About</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p class="font-italic mb-1">Web Developer</p>
                                    <p class="font-italic mb-1">Lives in New York</p>
                                    <p class="font-italic mb-0">Photographer</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0">Veículos à venda</p>
                                <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                            </div>
                        <div class="row g-2">
                            <div class="col-md-6 mb-2">
                                @{
                                    foreach (var veiculo in user.GetVeiculosÀVenda(MoMotorsDbContext))
                                    {

                                        <div class="col mb-1">
                                            <div class="card " style="margin-bottom: 15px; width: 100%;">

                                                <div class="card-header" style="background-color: white">
                                                    @veiculo.Cidade
                                                    -
                                                    @veiculo.Estado
                                                    <i class="fas fa-map-marker"></i>

                                                </div>
                                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">

                                                <div class="car-listing">
                                                    <h8>@veiculo.Marca @veiculo.Modelo</h8>
                                                    <p class="price" style="position: absolute; bottom: 115px">
                                                        @veiculo.Preco
                                                        @if (!string.IsNullOrEmpty(veiculo.Preco) && !string.IsNullOrEmpty(veiculo.FIPE) && veiculo.FIPE.Length >= 4)
                                                        {
                                                            int preco;
                                                            int fipe;

                                                            // Remover "." e "," e pegar a substring a partir do quarto caractere
                                                            string precoSubstring = veiculo.Preco.Substring(3).Replace(".", "").Replace(",", "");
                                                            string fipeSubstring = veiculo.FIPE.Substring(3).Replace(".", "").Replace(",", "");

                                                            if (int.TryParse(precoSubstring, out preco) && int.TryParse(fipeSubstring, out fipe))
                                                            {

                                                                @if (preco > fipe)
                                                                {
                                                                    <i style="font-size: 18px" class="bi bi-arrow-up text-danger"></i>
                                                                }
                                                                else if (preco < fipe)
                                                                {
                                                                    <i style="font-size: 18px" class="bi bi-arrow-down text-success"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i style="font-size: 18px" class="bi bi-arrow-down text-success"></i>
                                                                }

                                                            }

                                                        }
                                                    <p>
                                                        <div class="info" style="position: absolute; bottom: 65px; left: 10px; right: 10px;">
                                                            <button class="year">@veiculo.AnoECombustivel.Substring(0, 4)</button>
                                                            <span class="mileage">@veiculo.Quilometragem km</span>
                                                            <span class="transmission">@veiculo.Cambio</span>
                                                        </div>
                                                        <div style="margin-top: 15px; position: absolute; bottom: 10px; margin-left: 20%">
                                                            <div class="text-center">
                                                                <form asp-controller="Comprar" asp-action="Detalhes" method="post">
                                                                    <input type="hidden" name="id" value="@veiculo.Id" />
                                                                    <button type="submit" class="btn btn-outline-dark mt-auto">Ver detalhes</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>


                    </div>
                </div>
            </div>
    
    
    </div>
    </div>


</body>









