@page
@using MoMotors.Data
@model IndexModel

@inject SignInManager<ApplicationUser> SignInManager
@inject MoMotorsDbContext MoMotorsDbContext
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Perfil";
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
    var user = await UserManager.GetUserAsync(User);
    int quantidadeVeiculos = user.GetQuantidadeVeiculosRegistradosNoBancoDeDados(MoMotorsDbContext);

}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<partial name="_StatusMessage" for="StatusMessage" />
<head>


    <style>

        <!--
        .gradient-custom-2 {
            background: #000; /* Defina a cor mais escura à direita */
            background: -webkit-linear-gradient(to left, #000, #343a40); /* Adicione gradientes para navegadores WebKit */
            background: linear-gradient(to left, #000, #343a40); /* Gradiente linear padrão */
            color: white; /* Adicione essa linha para garantir que o texto seja legível em fundo escuro */
        }
        -->
        .vertical-line {
            border-left: 1px solid black;
            height: 30px; /* Adjust the height as needed */
            margin: 0 auto:
            

        }

        .container {
            border-radius: 3px;
        }

        .notification {
            background-color: #2196F3;
            padding: 15px;
            text-align: center;
            font-size: 18px;
        }

        .car-listing {
            font-family: Arial, sans-serif;
            min-height: 250px;
            max-width: 440px;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

            .car-listing h1 {
                font-size: 24px;
                color: #333;
                margin: 0;
            }

            .car-listing .price {
                font-size: 20px;
                color: black;
                font-weight: bold;
                margin: 10px 0;
            }

            .car-listing .info {
                display: flex;
                align-items: center;
                gap: 12px;
            }

                .car-listing .info button {
                    background-color: #f00;
                    color: #fff;
                    border: none;
                    border-radius: 4px;
                    padding: 5px 10px;
                    cursor: pointer;
                }

                .car-listing .info span {
                    font-size: 14px;
                    color: #666;
                }

        
    </style>
</head>

<body class="h-100 gradient-custom-2">
    


        
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 align-self-center">
                <div class="col col-lg-9 col-xl-7 ">
                    <div class="card" style="margin-top: 5%; ">
                    <div class="card-header text-center " style="background-color: white">
                        <div class="d-flex justify-content-between align-items-center align-self-center">
                                <div class="row" style="justify-content: center; text-align: center; justify-items: center; margin: 0 auto;">

                                        
                                        
                                        
                                    <div class="col text-center ">
                                        <a class="nav-link" style="color: black">
                                             Perfil
                                    
                                        </a>
                                    </div>
                                    <div class="col-auto align-self-center">
                                        <div class="vertical-line"></div>
                                    </div>



                                    <div class="col text-center">
                                    <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email" style="color: black">
                                            
                                            Email
                                            
                                        </a>
                                    </div>

                                <div class="col-auto align-self-center" >
                                    <div class="vertical-line" ></div>
                                </div>


                                <div class="col text-center">
                                    <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword" style="color: black">
                                        Senha
                                    </a>
                                </div>


                                <div class="col-auto align-self-center">
                                    <div class="vertical-line"></div>
                                </div>


                                <div class="col text-center">

                                    <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication" style="color: black">
                                        2FA
                                        </a>
                                </div>

                                <div class="col-auto align-self-center">
                                    <div class="vertical-line"></div>
                                </div>

                                <div class="col text-center">
                                    <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData" style="color: black">
                                        Dados
                                        </a>
                                </div>

                               
                                </div>
                        
                        </div>

                        
                          </div>
                    <form id="profile-form" method="post" enctype="multipart/form-data">
                        <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <div id="profileImageSection">
                                @if (user.ImagemPerfil == null || user.ImagemPerfil.Length == 0)
                                {
                                    <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                         alt="Generic placeholder image" class="img-thumbnail mt-4 mb-2"
                                         style="width: 150px; z-index: 1">
                                }
                                else
                                {
                                        var base64Image = Convert.ToBase64String(user.ImagemPerfil);
                                        var imgSrc = $"data:image/png;base64,{base64Image}";
                                        <img src="@imgSrc"
                                             alt="User Profile Image" class="img-thumbnail mt-4 mb-2"
                                             style="width: 150px; height: 110px; object-fit: cover; z-index: 1">
                                }
                            </div>

                            <div>


                                
                                 
                           
                            <div  class="card mt-4 mb-10" id="profileImageInput" style="width: 150px; height: 108px; z-index: 1; position: relative; overflow: hidden; display: none;">
                                
                                <label for="inputImagemPerfil" style="cursor: pointer; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 30px; color: blue;">+</label>
                                        <input asp-for="Input.ImagemPerfil" class="form-control" type="file" id="inputImagemPerfil" accept="image/*" style="display: none;">
                                    </div>
                            </div>
                            <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1; margin-top: 25%;" onclick="toggleProfileImageAndPhone();">
                                Editar perfil
                            </button>


                        </div>

                            <div class="ms-3" style="margin-top: 130px;">
                                <h5>@user.Name</h5>
                               
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                <div>
                                    <p class="mb-1 h5">253</p>
                                    <p class="small text-muted mb-0">Photos</p>
                                </div>
                                <div class="px-3">
                                    <p class="mb-1 h5">1026</p>
                                    <p class="small text-muted mb-0">Followers</p>
                                </div>
                                <div>
                                    @if (quantidadeVeiculos != null && quantidadeVeiculos > 0)
                                    {
                                    <p class="mb-1 h5">@quantidadeVeiculos</p>
                                    <p class="small text-muted mb-0">Veículos à venda</p>

                                }
                                else if(quantidadeVeiculos != null && quantidadeVeiculos == 1)
                                {
                                    <p class="mb-1 h5">@quantidadeVeiculos</p>

                                    <p class="small text-muted mb-0">Veículo à venda</p>
                                }
                                else
                                    {
                                        <p class="mb-1 h5">0</p>
                                        <p class="small text-muted mb-0">Veículos à venda</p>

                                    }
                                    

                               
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">About</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                <div id="phoneNumberSection">
                                        @if (user.PhoneNumber == null)
                                    {
                                        <p class="font-italic mb-1">Telefone: Nenhum número de telefone adicionado</p>
                                    }
                                    else
                                    {
                                        <p class="font-italic mb-1">Número de telefone: @user.PhoneNumber</p>
                                    }
                                </div>

                                <div id="phoneNumberInput" style="display: none;">

                                        <div class="form-floating mb-3">
                                            
                                            <input asp-for="Input.PhoneNumber" id="inputPhoneNumber" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Número de telefone" />
                                            <label asp-for="Input.PhoneNumber"></label>
                                            
                                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                        </div>
                                </div>

                                  
                                    

                                    <p class="font-italic mb-1">Lives in New York</p>
                                    <p class="font-italic mb-0">Photographer</p>
                                </div>
                            </div>
                            <div style="justify-content: center; justify-items: center; text-align: center" class="d-flex align-items-center mt-4">
                                <button id="update-profile-button" type="submit" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="display: none" onclick="toggleProfileImageAndPhone();">
                                    Salvar alterações
                                </button>
                            </div>

                           
                        <div>
                            <p class="lead fw-normal mb-0">Veículos à venda</p>
                        
                        @{
                            var pageSize = 6;  // Defina o número máximo de veículos por página
                            var paginaAtual = Request.Query["page"].ToString();
                            if (string.IsNullOrEmpty(paginaAtual))
                            {
                                paginaAtual = "1";
                            }
                        }
                        <div class="d-flex justify-content-center mt-4">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    @for (int i = 1; i <= Math.Ceiling((double)user.GetVeiculosÀVenda(MoMotorsDbContext).Count() / pageSize); i++)
                                    {
                                        <li class="page-item @(i == Convert.ToInt32(paginaAtual) ? "active" : "")">
                                            <a class="page-link" href="?page=@i">@i</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                        <div class="row g-2">
                            @{
                                

                                var startIndex = (Convert.ToInt32(paginaAtual) - 1) * pageSize;
                                var veiculosPaginados = user.GetVeiculosÀVenda(MoMotorsDbContext).Skip(startIndex).Take(pageSize);

                                foreach (var veiculo in veiculosPaginados)
                                {
                                    <div class="col-md-4 mb-3">
                                        <div class="card" style="margin-bottom: 15px; width: 100%;">

                                                <div class="card-header" style="background-color: white">
                                                    @veiculo.Cidade
                                                    -
                                                    @veiculo.Estado
                                                    <i class="fas fa-map-marker"></i>

                                                </div>
                                                <img class="card-img-top"  src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">

                                                <div class="car-listing" style="width: 100%">
                                                    <h8>@veiculo.Marca @veiculo.Modelo</h8>
                                                    <p class="price" style="position: absolute; bottom: 115px">
                                                        @veiculo.Preco
                                                        @if (!string.IsNullOrEmpty(veiculo.Preco) && !string.IsNullOrEmpty(veiculo.FIPE) && veiculo.FIPE.Length >= 4)
                                                        {
                                                            int preco;
                                                            int fipe;

                                                            // Remover "." e "," e pegar a substring a partir do quarto caractere
                                                            string precoSubstring = veiculo.Preco.Substring(3).Replace(".", "").Replace(",", "");
                                                            string fipeSubstring = veiculo.FIPE.Substring(3).Replace(".", "").Replace(",", "");

                                                            if (int.TryParse(precoSubstring, out preco) && int.TryParse(fipeSubstring, out fipe))
                                                            {

                                                                @if (preco > fipe)
                                                                {
                                                                    <i style="font-size: 18px" class="bi bi-arrow-up text-danger"></i>
                                                                }
                                                                else if (preco < fipe)
                                                                {
                                                                    <i style="font-size: 18px" class="bi bi-arrow-down text-success"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i style="font-size: 18px" class="bi bi-arrow-down text-success"></i>
                                                                }

                                                            }

                                                        }
                                                    <p>
                                                        <div class="info" style="position: absolute; bottom: 65px; left: 10px; right: 10px;">
                                                            <button class="year">@veiculo.AnoECombustivel.Substring(0, 4)</button>
                                                            <span class="mileage">@veiculo.Quilometragem km</span>
                                                            <span class="transmission">@veiculo.Cambio</span>
                                                        </div>
                                                       
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        

                        
                    </div>
                    
                        </form>
                    </div>
                </div>
            </div>
    
    
    </div>
    </div>


    <script>

     
        function toggleProfileImageAndPhone() {
            var profileImageSection = document.getElementById("profileImageSection");
            var profileImageInput = document.getElementById("profileImageInput");

            var phoneNumberSection = document.getElementById("phoneNumberSection");
            var phoneNumberInput = document.getElementById("phoneNumberInput");

            var saveChangesButton = document.getElementById("update-profile-button");

            // Inverte a visibilidade do input de imagem
            if (profileImageSection.style.display === "none") {
                profileImageSection.style.display = "block";
                profileImageInput.style.display = "none";
            } else {
                profileImageSection.style.display = "none";
                profileImageInput.style.display = "block";
            }

            // Inverte a visibilidade do input de telefone
            if (phoneNumberSection.style.display === "none") {
                phoneNumberSection.style.display = "block";
                phoneNumberInput.style.display = "none";
            } else {
                phoneNumberSection.style.display = "none";
                phoneNumberInput.style.display = "block";
            }

            // Mostra ou esconde o botão "Salvar alterações" com base na visibilidade dos inputs
            saveChangesButton.style.display =
                (profileImageSection.style.display === "none" && phoneNumberSection.style.display === "none")
                    ? "block"
                    : "none";
        }
    </script>



    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>









